#!/usr/bin/make -f

export DH_VERBOSE = 1
export DEB_BUILD_OPTIONS = nodwz nostrip

%:
	dh $@

override_dh_dwz:

override_dh_strip:

override_dh_auto_clean:
	rm -rf build
	dh_auto_clean

override_dh_auto_build:
	packaging/debian/build-venv.sh

override_dh_auto_install:
	packaging/debian/install-venv.sh debian/personnel-availability

override_dh_auto_test:
	# Тесты выполняются в CI; сборка пакета не запускает pytest.

override_dh_installdesktop:
	dh_installdesktop debian/personnel-availability.desktop
